.flex-container {
  display : flex;
}

.flex-item {
  flex : none;
  /*
    flex : 0 0 auto
    자식 요소의 크기 고정
 */
 flex : itital; /* 0 1 auto */
}

.flex-item-gnb {
  margin-left : auto; /* auto 속성으로 자식요소를 오른쪽에 배치  */
  margin-right : auto; /* auto 바깥여백이 오른쪽의 모든 공간을 차지하기 위해
  flex item을 오른쪽에서 왼쪽으로 민다 */
  margin : auto; /* flex item의 바깥여백이 자동으로 확장되어 flex item이
    flex container의 가운데에 위치하게 된다. */
  justify-content : space-between;
  /* 첫번째와 마지막 flex item은 주축의 시작 부분과 끝부분에 정렬하고 나머지 flex item을
  일정한 간격으로 정렬한다. */
  align-items : center;
  /* 폼 요소의 레이블을 수직 중앙에 정렬 */
  /* 주축을 기준으로 flex item을 수직으로 정렬 */

}
